<nav id="mainNav" 
  class="navbar navbar-default navbar-custom navbar-fixed-top ltt-navbar">
  <div class="container">
    <div class="navbar-header page-scroll">
      <p id="title", class="navbar-brand page-scroll">
        <%= link_to t(:title), root_url,
          class: "navbar-brand page-scroll ltt-title" %>
      </p>
    </div>
    <span class="header-right">
      <li class="hidden">
        <%= link_to "#page-top" %>
      </li>
      <li class="dropdown header-item">
        <%= link_to current_user.name, class: "dropdown-toggle",
          data: {toggle: "dropdown"} do %>
          <%= image_tag avatar_profile(current_user), class: "avatar-header" %>
          <span class="header-user-name">
            <%= truncate current_user.name, length: Settings.length_name %>
          </span>
          <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <li>
            <%= link_to t("sessions.profile"), current_user %>
          </li>
          <li>
            <%= link_to t("sessions.sign_out"), destroy_user_session_path,
              method: :delete %>
          </li>
        </ul>
      </li>
      <div class="clearfix"></div>
    </span>
  </div>
</nav>
